html {
    box-sizing: border-box;
    height: 100%;
}



*,
*::before
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: black;
    display: flex;
    font-family: 'Dosis' sans-serif;
    font-display: swap;
    height:  inherit;
    justify-content: center;
}



.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5p );
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35,35,35, 0.1);
    color: #232323;
    backdrop-filter: blur;
    -webkit-backdrop-filter: blur(4px);
    background:  rgba(255,255,255, 0.30);
    border: 1px solid rgba(255,255,255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px
}


.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5p );
    background: rgba(255,255,255, 0.75);
    border: 1px solid rgba(255,255,255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px 40px;
    align-items: center;
    text-align: right;
    width: 300px;


}


.calc-buttons-row {
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255, 0.01);
    border-radius: 25px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 18%;
    font-family: inherit;
    font-size: 20px;
    height:65px;
    padding: 0px ;
}




.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255, 0.01);
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #FF9500;
    height: 65px;
    width: 65px;
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.calc-button:active{
    background-color: #ffe778;
}



.zero {
    flex-basis: 45%
}



@media (max-width: 720px) {

    .wrapper {
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5p );
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(35,35,35, 0.1);
        color: #232323;
        backdrop-filter: blur;
        -webkit-backdrop-filter: blur(4px);
        background:  rgba(255,255,255, 0.30);
        border: 1px solid rgba(255,255,255, 0.34);
        flex-basis: 350px;
        height: 480px;
        padding: 15px 15px
    }
    .calc-buttons-row {
        display: flex;
        justify-content: space-between;
        margin: 4% 6%;
    }


    .calc-button {
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        background: rgba(255,255,255,0.75);
        border: 1px solid rgba(255,255,255, 0.01);
        border-radius: 25px;
        box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
        color: #232323;
        flex-basis: 18%;
        font-family: inherit;
        font-size: 20px;
        height:65px;
        padding: 0px ;
    }
    
    .zero {
        flex-basis: 45%
    }
    
}