
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <div class="wrapper">
        <form id="submit_task" action="{{ url_for('data')}}"  method="post">    
            <input name="data_to_cal" class="screen" id="code", value="0"></input>
        </form>



        
    <section class="calc-buttons">

         <div class="calc-buttons-row">
            <form id="clear_button" action="{{ url_for('home')}}" method='get'></form>
            <button type="button" class="calc-button" onclick="document.getElementById('code').value=document.getElementById('code').value + '-/+';"> -/+</button>
            <button type="button" class="calc-button" onclick="document.getElementById('code').value=document.getElementById('code').value + '%';">&percnt;</button>
            <button form="clear_button" class="calc-button"  type='submit'>&larr;</button>
            <form id="clear_button" action="{{ url_for('home')}}" method='get'> 
                <button form="clear_button" class="calc-button"  type='submit' value="      C      ">C</button>
            </form>
            <button type="button" class="calc-button" onclick="document.getElementById('code').value=document.getElementById('code').value + '/';">&divide;</button>
        </div>
        <div class="calc-buttons-row">
            <button  form="clear_button" class="calc-button"  type='submit'>7</button>
            <button  form="clear_button" class="calc-button"  type='submit'>8</button>
            <button  form="clear_button" class="calc-button"  type='submit'>9</button>
            <button type="button" class="calc-button" onclick="document.getElementById('code').value=document.getElementById('code').value + '*';">&times;</button>
        </div>
        <div class="calc-buttons-row">
            <button  form="clear_button" class="calc-button"  type='submit'>4</button>
            <button  form="clear_button" class="calc-button"  type='submit'>5</button>
            <button  form="clear_button" class="calc-button"  type='submit'>6</button>
            <button type="button" class="calc-button" onclick="document.getElementById('code').value=document.getElementById('code').value + '-';">&minus;</button>
        </div>
        <div class="calc-buttons-row">
            <button  form="clear_button" class="calc-button"  type='submit'>1</button>
            <button  form="clear_button" class="calc-button"  type='submit'>2</button>
            <button  form="clear_button" class="calc-button"  type='submit'>3</button>
            <button type="button" class="calc-button" onclick="document.getElementById('code').value=document.getElementById('code').value + '+';">&plus;</button>
        </div>
        <div class="calc-buttons-row">
            <button form="clear_button"class="calc-button zero" type='submit'>0</button>
            <button  form="clear_button" class="calc-button"  type='submit'>.</button>
            <button  form="clear_button" class="calc-button"  type='submit'>=</button>
        </div>
                
    </section>
    </div>
     
</body>
</html><div class="calc-buttons-row-vertical ml-4 mt-4" role="group" aria-label="Basic example">
  